database
Faces
build
dist
VGGFace2-database
VGGFace2-split
__pycache__
FRMS/__pycache__
FRMS/utils/__pycache__
.idea
LFW
venv
FRMS.egg-info
docs/build
docs/source
docs/make.bat
docs/Makefile
FRMS/db.sqlite3
.vscode
VGGFace2
